body {
  background-image: url(http://www.csszengarden.com/079/flower_bg.jpg);
  /* background-size: cover; */
  display: table;
  margin: 0;
  font-size: 70%;
  color : #030;
}

header {
  padding-top: 49px;
  align-content: left;
  margin-left: -8px
}

h3 {
  border-bottom: 1px solid green;
  color: purple;
}
.zGarden {
  margin-left: 10px;
}

.left-column {
  float: left;
  width: 16%;
  padding-left: 11px;
  position: absolute;
}

.mid-container {
  width: 70%;
}

.right-column {
  float: right;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 268px;
  top: 145px;
  width: 63%;
  height: 297px
}

footer {
  position: absolute;
  bottom: 64px;
}

.left-footer {
  float: left;
  margin-top: 71px;
  padding-top: 2px;
  margin-right: 130px;
  margin-left: 70px;
}

.right-footer {
  float: right;
  left: 268px;
  margin-left: 0;
  margin-right: 293px;
  /* margin-bottom: 101px */
}